<!--
    Peter Eang
    04/24/2021
    https://peang.greenriverdev.com/328/dating/
-->

<include href="views/header.html" />

<body class="mb-3">

<!-- Navigation bar -->
<nav class="navbar navbar-light bg-light mb-3">
    <a class="navbar-brand ms-3" href="./">Dog Meeting Website</a>
</nav>

<!-- Main content -->
<div class="container"> <!-- container -->
    <div class="row"> <!-- row  -->
        <div class="col-6"> <!-- col 1 text -->
            <section> <!-- Intro to the website -->
                <h1 class="text-center">Welcome to Waggy</h1>
                <p class="lead text-center">Welcome to the web's most successful dog meeting website.</p>
                <p>At <span class="font-weight-bold">Waggy: the Dog meeting Website</span> you and your dog
                can meet with other friendly dogs in your area! From walking with each other at the parks or playing
                catch with each other there is so much you can do together! Dogs are matched by profile location and
                common interests. Have you dog play with others and make new friends through our site!</p>
            </section>

            <section> <!-- User reviews of website-->
                <h5 class="text-center">Hear what our users and their dogs are saying about us.</h5>
                <hr>
                <blockquote class="mx-5">
                    <p class="offset-1">"My dog has never been so happy to go out and play with their friends now!"
                        <span class="fst-italic">- Okayu</span></p>

                    <p class="offset-1">"I use to hate taking my dog out to play, but now I try to go out at least 4 times a week."
                    <span class="fst-italic">- Amelia</span></p>

                    <p class="offset-1">"bark bark bark! bark bark bark, bark bark bark bark bark!"
                        <span class="fst-italic">- Korone</span></p>
                </blockquote>
                <hr>
            </section>

            <div class="text-center"> <!-- Button to create profile-->
                <a class="btn btn-info text-light" href="profile1">Create a Profile!</a>
            </div>
        </div> <!-- col 1 end-->

        <div class="col-6"> <!--col 2 image-->
            <img class="rounded" id="splash" src="images/splash.jpg" alt="two dogs">
        </div> <!-- col2 end-->
    </div> <!-- row end-->
</div> <!-- container end-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>